<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>__NODE_BIN__:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.jontz.refresh-main-checkouts-daily</string>
	<key>ProgramArguments</key>
	<array>
		<string>__HOME__/.config/agent-watcher/refresh-main-checkouts.sh</string>
		<string>--require-idle</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/refresh-main-checkouts.err</string>
	<key>StandardOutPath</key>
	<string>/tmp/refresh-main-checkouts.out</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>4</integer>
		<key>Minute</key>
		<integer>15</integer>
	</dict>
</dict>
</plist>
